body{
    background-color: blueviolet;
}
.caja{
    background-color: white;
    padding: 25%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    border-radius: 10px;
}
.boton{
    padding-left: 100px;
    padding-right: 100px;
    background-color: greenyellow;
    border: none;
    border-radius: 5px;

}
.score{
    margin-top: -50px;
    margin-bottom: 5px;
}